services:
  - type: web
    name: ground-operations-optimizer
    runtime: node
    rootDir: Ground-Operations-Optimizer
    plan: free
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
